{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Home</h1>
    <p>Squid unicorn gochujang umami bushwick, health goth chia kinfolk poke stumptown four dollar toast shoreditch woke letterpress. Craft beer iceland shoreditch wayfarers whatever forage. Chicharrones intelligentsia marfa seitan, post-ironic meh put a bird on it try-hard taxidermy lo-fi. Deep v lo-fi keffiyeh pug prism vaporware helvetica bicycle rights gochujang single-origin coffee palo santo tote bag letterpress. Seitan sartorial etsy you probably haven't heard of them vape hella blog. Austin cornhole green juice waistcoat.</p>
</div>
{% endblock %}
